<section class="py-5 bg-light" id="contactUs">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1>お問い合わせ</h1>
      </div>
    </div>
    <div class="row pt-3">
      <!--left-->
      <div class="col-md-4">
        <div class="hstack mb-3">
          <i class="bi bi-envelope-fill text-danger fs-3"></i>
          <div class="ms-3">
            <h5 class="mb-1">メール</h5>
            <span class="text-muted">info@example.com</span>
          </div>
        </div>
        <div class="hstack mb-3">
          <i class="bi bi-telephone-fill text-danger fs-3"></i>
          <div class="ms-3">
            <h5 class="mb-1">電話番号</h5>
            <span class="text-muted">03-1234-5678</span>
          </div>
        </div>
      </div>
      <!--right-->
      <div class="col-md-8">
        <form action="#" class="post">
          <div class="mb-3">
            <input type="text" class="form-control shadow-sm" placeholder="氏名">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control shadow-sm" placeholder="Eメール">
          </div>
          <div class="mb-3">
            <textarea class="form-control shadow-sm" rows="4" placeholder="内容"></textarea>
          </div>
          <div class="col-12">
            <button class="btn btn-danger rounded-pill px-5">
              送信
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>