<section class="py-5" id="course">
  <div class="container text-center py-3">
    <div class="row pb-3">
      <div class="col">
        <h1>どのコースをお望みですか？</h1>
      </div>
    </div>
    <div class="row g-4">
      <!--programming-->
      <div class="col-md-4">
        <!--card-->
        <div class="border p-3 shadow">
          <i class="bi bi-laptop text-danger fs-1"></i>
          <h5>プログラミング</h5>
          <p class="text-muted">アプリを作成したい人に最適です。</p>
          <a href="#content" class="btn btn-danger rounded-pill">
            詳細はこちら
          </a>
        </div>
      </div>
      <!--network-->
      <div class="col-md-4">
        <!--card-->
        <div class="border p-3 shadow">
          <i class="bi bi-cloud text-danger fs-1"></i>
          <h5>ネットワーク</h5>
          <p class="text-muted">システムを管理したい人に適しています。</p>
          <a href="#content" class="btn btn-danger rounded-pill">
            詳細はこちら
          </a>
        </div>
      </div>
      <!--design-->
      <div class="col-md-4">
        <!--card-->
        <div class="border p-3 shadow">
          <i class="bi bi-brush text-danger fs-1"></i>
          <h5>デザイン</h5>
          <p class="text-muted">デザインを学びたい人に最適です。</p>
          <a href="#content" class="btn btn-danger rounded-pill">
            詳細はこちら
          </a>
        </div>
      </div>
    </div>
  </div>
</section>