<section class="bg-danger text-white" id="home" style="padding: 80px 0 50px">
  <div class="container py-3">
    <div class="row align-items-center g-4">
      <!-- left -->
      <div class="col-md-7">
        <h1>ITを学んで、自己投資しませんか？</h1>
        <p>今なら無料カウンセリング実施中</p>
        <a href="#contactUs" class="btn btn-dark px-5 shadow-lg">相談する</a>
      </div>
      <!-- right -->
      <div class="col-md-5 text-center">
        <%= image_tag 'undraw_content_team_3epn.svg', class: "img-fluid" %>
      </div>
    </div>
  </div>
</section>