<section class="py-5" id="pricing">
  <div class="container text-center py-3">
    <div class="row pb-3">
      <div class="col">
        <h1>価格</h1>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-3">

      <!-- 無料 -->
      <div class="col">
        <!-- カード -->
        <div class="card shadow-sm h-100">
          <div class="card-header">
            <h4 class="fw-normal">無料</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title text-danger">0円</h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">カウンセリング</li>
              <li class="list-group-item">チャットサポート</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="#" class="w-100 btn btn-outline-danger">
              無料登録
            </a>
          </div>
        </div>
      </div>

      <!-- スタンダード -->
      <div class="col">
        <div class="card shadow-sm h-100">
          <div class="card-header">
            <h4 class="fw-normal">スタンダード</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title text-danger">2,980円</h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">カウンセリング</li>
              <li class="list-group-item">チャットサポート</li>
              <li class="list-group-item">全ての講座が受け放題</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="#" class="w-100 btn btn-danger">
              会員登録
            </a>
          </div>
        </div>
      </div>

      <!-- プレミアム -->
      <div class="col">
        <div class="card shadow-sm border-danger h-100">
          <div class="card-header text-white bg-danger">
            <h4 class="fw-normal">プレミアム</h4>
          </div>
          <div class="card-body pb-0">
            <h1 class="card-title text-danger">9,800円</h1>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">カウンセリング</li>
              <li class="list-group-item">チャットサポート</li>
              <li class="list-group-item">全ての講座が受け放題</li>
              <li class="list-group-item">オンライン個別指導</li>
            </ul>
          </div>
          <div class="card-footer">
            <a href="#" class="w-100 btn btn-danger">
              会員登録
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>