<section class="py-5 bg-light" id="reputation">
  <div class="container text-center py-3">
    <div class="row pb-3">
      <div class="col">
        <h1>受講生の皆様から、支持されています</h1>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4">
      <!--年間受講者-->
      <div class="col">
        <div class="card text-white bg-primary mb-3 shadow">
          <div class="card-body">
            <h1 class="card-title">600人</h1>
            <p class="card-text">年間受講者</p>
          </div>
        </div>
      </div>

      <!--リピート率-->
      <div class="col">
        <div class="card text-white bg-success mb-3 shadow">
          <div class="card-body">
            <h1 class="card-title">85%</h1>
            <p class="card-text">リピート率</p>
          </div>
        </div>
      </div>

      <!--満足度-->
      <div class="col">
        <div class="card text-white bg-danger mb-3 shadow">
          <div class="card-body">
            <h1 class="card-title">99%</h1>
            <p class="card-text">満足度</p>
          </div>
        </div>
      </div>

      <!--挫折率-->
      <div class="col">
        <div class="card text-white bg-secondary mb-3 shadow">
          <div class="card-body">
            <h1 class="card-title">3%</h1>
            <p class="card-text">挫折率</p>
          </div>
        </div>
      </div>
    </div>
    <p class="text-muted">※独自のアンケート結果</p>
  </div>
</section>